body{
    background-image: url("bg.jpg");
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 0;
    margin: -250px 0 0 -250px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    border-color: black;
    border-style: solid;
    max-zoom: 100%;


}
.row{
    display: inline-block;
}
span{
    position:absolute;
    display: flex;
    align-items: center;
    font-family: Cursive;
    font-size: 5vw;
    margin-top: 0.9%;
    color: rgb(63, 156, 120);
}
#instructions {
    overflow: hidden;
    position:fixed;
    display: flex;
    align-items: center;
    top:88%;
    font-family: Cursive;
    font-size: 2vw;
    color: rgb(63, 156, 120);
}
@media (max-device-width: 1025px) {
    body {
        height: 100vh;
    }
    span {
        margin-top: 150px !important;
        font-size: 15vw !important;
        font-family: Arial !important;
    }
    #instructions {
        font-size: 5vw !important;
        top: 80% !important;
        font-family: Arial !important;
    }
}